---
layout: splash
title: Gear
artist: mwm
author: anthony-garone
image:
permalink: /archive/gear
seo_description:
seo_keywords:
---

{% for post in site.posts %}
  {% if post.front_page == false or post.draft == true %}
    {% continue %}
  {% endif %}
  {% if post.category == 'gear' %}
    <a href="{{ post.url }}">
      <article class="{{ post.category }} story">
        <div class="image-wrap">
          <img src="{{ site.data.artists.mwm.art_prod }}{{ post.artist }}/{{ post.image }}.svg" />
        </div>

        <div class="story-text">
          <h2><span>{{ post.category }}: </span>{% if post.category == "interview" and post.member %}{{ post.member }}{% elsif post.category == "interview" or post.category == "discover" %}{{ site.data.artists[post.artist].name }}{% else %}{{ post.title }}{% endif %}</h2>
          {% if post.oneliner %}<p class="oneliner">{{ post.oneliner }}</p>{% endif %}
          {% if post.sponsors %}<p class="sponsor">Sponsored by: {{ post.sponsors }}</p>{% endif %}
      </div>
      </article>
    </a>
    {% endif %}
{% endfor %}
<a href="/archive">
  <article class="index story">
    <h2><span>More: </span>Content Archive</h2>
    <p class="oneliner">Check the archive for lots more content!</p>
  </article>
</a>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
