---
layout: splash
title: Home
artist: mwm
author: anthony-garone
image: mwm-rectangular-clean-light
seo_description: Discover new music, learn secret techniques, and watch interviews with amazing artists who Make Weird Music.
seo_keywords: anthony garone, weird, unique, unknown, weird music, prog, progressive rock, instrumental, art rock, performance art, odd time signatures, indie
---

{% for post in site.posts %}
{% if post.front_page == false or post.draft == true %}
  {% continue %}
{% endif %}
<a href="{% if post.category == "link" %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">
  <article class="{{ post.category }} story">
    {% if post.category == "link" %}<div class="icon-wrap"><p><i class="non-mwm fa {{ post.icon }}"></i></p></div>{% else %}<div class="image-wrap">
      <img src="{{ site.data.artists.mwm.art_prod }}{{ post.artist }}/{{ post.image }}.svg" />
    </div>{% endif %}

    <div class="story-text">
      <h2><span>{{ post.category }}: </span>{% if post.category == "interview" and post.member %}{{ post.member }}{% elsif post.category == "interview" or post.category == "discover" %}{{ site.data.artists[post.artist].name }}{% else %}{{ post.title }}{% endif %}</h2>
      {% if post.oneliner %}<p class="oneliner">{{ post.oneliner }}</p>{% endif %}
      {% if post.sponsors %}<p class="sponsor">Sponsored by: {{ post.sponsors }}</p>{% endif %}
  </div>
  </article>
</a>
{% endfor %}
<a href="/archive">
  <article class="index story">
    <h2><span>More: </span>Content Archive</h2>
    <p class="oneliner">Check the archive for lots more content!</p>
  </article>
</a>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
