---
layout: splash
title: home
artist: mwm
image: mwm-rectangular-clean-light
---

{% for post in site.posts %}
{% if post.front_page == false %}
  {% continue %}
{% endif %}
<a href="{{ post.url }}">
  <article class="{{ post.category }} story">
    <img src="https://rawgit.com/MakeWeirdMusic/art/master/{{ post.artist }}/{{ post.image }}.svg" />
    <h2><span>{{ post.category }}: </span>{{ post.title }}</h2>
    {% if post.oneliner %}<p class="oneliner">{{ post.oneliner }}</p>{% endif %}
    {% if post.sponsors %}<p class="sponsor">Sponsored by: {{ post.sponsors }}</p>{% endif %}
  </article>
</a>
{% endfor %}
<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
