---
layout: splash
title: Home
artist: mwm
author: anthony-garone
image: mwm-rectangular-clean-light
seo_description: Discover new music, learn secret techniques, and watch interviews with amazing artists who Make Weird Music.
seo_keywords: weird, unique, unknown
---

{% for post in site.posts %}
{% if post.front_page == false or post.draft == true %}
  {% continue %}
{% endif %}
<a href="{{ post.url }}">
  <article class="{{ post.category }} story">
    <img src="{{ site.data.artists.mwm.art_prod }}{{ post.artist }}/{{ post.image }}.svg" />
    <h2><span>{{ post.category }}: </span>{{ post.title }}</h2>
    {% if post.oneliner %}<p class="oneliner">{{ post.oneliner }}</p>{% endif %}
    {% if post.sponsors %}<p class="sponsor">Sponsored by: {{ post.sponsors }}</p>{% endif %}
  </article>
</a>
{% endfor %}
<a href="/archive">
  <article class="index story">
    <h2><span>More: </span>Content Archive</h2>
    <p class="oneliner">Check the archive for lots more content!</p>
  </article>
</a>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
