<div class="ad">
  <h2>Like what you see here?</h2>
  <p>Please <a href='https://patreon.com/makeweirdmusic'>consider a monthly donation on <i class="fab fa-patreon"></i> Patreon</a>! We are <a href='/shirts'>taking orders for shirts</a> and <a href="/support">accepting donations of code, content creation and translation, art, social media help, and money</a>.</p>
  <p>Follow Make Weird Music on <a href="{{ mwm.facebook }}"><i class="fab fa-facebook-square"></i> Facebook</a>,
  <a href="{{ mwm.twitter }}"><i class="fab fa-twitter-square"></i> Twitter</a>,
  <a href="{{ mwm.youtube }}"><i class="fab fa-youtube-square"></i> YouTube</a>,
  <a href="{{ mwm.instagram }}"><i class="fab fa-instagram"></i> Instagram</a>.</p>
</div>
