<div class="ad">
  <h2>Like what you see here?</h2>
  <p>Donate monthly <a href='https://patreon.com/makeweirdmusic'>on Patreon</a>! Buy a <a href='/shirts'>shirt</a>. Donate your talents: <a href="/support">code, content, art, and social media help</a>.</p>
  <p>Buy my book, <a href='http://cluelessatthework.com'><i>Clueless at The Work: Advice from a Corporate Tyrant</i></a>, published by <a href='https://stairwaypress.com'>Stairway Press</a>.</p>
  <p>Follow Make Weird Music on <a href="{{ mwm.facebook }}">Facebook</a>,
  <a href="{{ mwm.twitter }}">Twitter</a>,
  <a href="{{ mwm.youtube }}">YouTube</a>,
  <a href="{{ mwm.instagram }}">Instagram</a>.</p>
</div>
