<article class="index story popular">
  <div class="icon-wrap"><p><i class="non-mwm fal fa-thumbs-up"></i></div>
  <div class="story-text">
    <h2>Enjoy our most popular content!</h2>
    <ul>
      <li><a href="/interview/steve-vai/"><span class="index-interview">Interview:</span> Steve Vai</a></li>
      <li><a href="/gear/evo"><span class="index-gear">Gear:</span> Steve Vai's EVO</a></li>
      <li><a href="/interview/mike-keneally/"><span class="index-interview">Interview:</span> Mike Keneally</a></li>
      <li><a href="/interview/jeff-berlin/"><span class="index-interview">Interview:</span> Jeff Berlin</a></li>
      <li><a href="/concert/michael-manring"><span class="index-concert">Concert:</span> Michael Manring</a></li>
    </ul>
  </div>
</article>
