<article class="story upcoming">
  <div class="icon-wrap"><p><i class="non-mwm far fa-calendar-alt"></i></div>
  <div class="story-text">
    <h2>Upcoming events</h2>
    <ul>
      <li>Jan. 29, 2021 <a href="https://youtu.be/jjLhgzcjJLg"><span class="index-interview">Confronting Creativity:</span> Julie Slick and Beth Fleenor</a>, with Andre Cholmondeley</li>
      <li>Jan. 30, 2021 <a href="https://youtu.be/qrOdzTH1qWQ"><span class="index-interview">Interview:</span> Alex Lifeson</a>, with Andre Cholmondeley</li>
      <li>Feb. 12, 2021 <span class="index-interview">Confronting Creativity:</span> Andy West and Henry Kaiser, with Andre Cholmondeley</li>
    </ul>
    <p>More info on <a href="https://youtube.com/makeweirdmusic">YouTube</a> and <a href="https://facebook.com/makeweirdmusic/events">Facebook</a></p>
  </div>
</article>
