<article class="story upcoming">
  <div class="icon-wrap"><p><i class="non-mwm far fa-calendar-alt"></i></div>
  <div class="story-text">
    <h2>Upcoming events and content</h2>
    <ul>
      <li>Feb. 12, 2021 <span class="index-interview">Confronting Creativity:</span> Andy West and Henry Kaiser, with Andre Cholmondeley</li>
      <li>Feb. 17, 2021 <span class="index-interview">The Gear Spotlight:</span> Adam Holzman, with Andre Cholmondeley</li>
      <li>Feb. 26, 2021 <span class="index-interview">Confronting Creativity:</span> Carmine Rojas and Zack Alford, with Andre Cholmondeley</li>
      <li>Mar. 12, 2021 <span class="index-interview">Confronting Creativity:</span> Tom Fowler and Chester Thompson, with Andre Cholmondeley</li>
      <li>Mar. 26, 2021 <span class="index-interview">Confronting Creativity:</span> Michael Shrieve and Paul Wertico, with Andre Cholmondeley</li>
      <li>Coming soon: <span class="index-interview">Interview:</span> Deborah and Pat Mastelotto, with Anthony Garone</li>
      <li>Coming soon: <span class="index-interview">Interview:</span> Judge Smith (Van Der Graaf Generator), with Andre Cholmondeley</li>
      <li>Coming soon: <span class="index-interview">Interview:</span> Mike Keneally and Scott Schorr, with Anthony Garone</li>
    </ul>
    <p>More info on <a href="https://youtube.com/makeweirdmusic">YouTube</a> and <a href="https://facebook.com/makeweirdmusic/events">Facebook</a></p>
  </div>
</article>
