<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="layout-{{ page.category }}">

    <div id="container">

      {% assign artist = site.data.artists[page.artist] %}
      <section class="info pane">
        <img src="https://rawgit.com/MakeWeirdMusic/art/master/{{ page.artist }}/{{ page.image }}.svg" />
        <p class="social-links">
          {% if artist.facebook %}<a href="{{ artist.facebook }}"><i class="fa fa-facebook-square"></i></a>{% endif %}
          {% if artist.twitter %}<a href="{{ artist.twitter }}"><i class="fa fa-twitter-square"></i></a>{% endif %}
          {% if artist.youtube %}<a href="{{ artist.youtube }}"><i class="fa fa-youtube-square"></i></a>{% endif %}
          {% if artist.google %}<a href="{{ artist.google }}"><i class="fa fa-google-plus-square"></i></a>{% endif %}
          {% if artist.soundcloud %}<a href="{{ artist.soundcloud }}"><i class="fa fa-soundcloud"></i></a>{% endif %}
          {% if artist.wikipedia %}<a href="{{ artist.wikipedia }}"><i class="fa fa-wikipedia-w"></i></a>{% endif %}
          {% if artist.spotify %}<a href="{{ artist.spotify }}"><i class="fa fa-spotify"></i></a>{% endif %}
          {% if artist.itunes %}<a href="{{ artist.itunes }}"><i class="fa fa-apple"></i></a>{% endif %}
        </p>
        {% if page.title == "home" %}<nav class="page-links"><p><a href="/about">About</a> &middot; <a href="/donate">Donate</a> &middot; <a href="/sponsors">Sponsors</a> &middot; <a href="/artists">Artists</a></p></nav>{% endif %}
      </section>

      <section class="content pane menu">
        {{ content }}
      </section>

    </div><!-- #container -->

  </body>

</html>
